<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" class="form-control" placeholder="Enter Username"/><br>
                <input type="password" name="password" class="form-control" placeholder="Enter Password"/><br>
                <input type="submit" class="btn btn-primary"/>
            </form>
            {% if message %}
                <p class="alert alert-info "><strong>{{ message }}</strong></p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>